window {
	font-size: 14px;
	background-color: rgba(30, 30, 46, 0.9);
	border-radius: 12px;
	padding: 8px;
	border: 2px solid #45475a;
	color: #A18F23
}

#input {
	font-weight: bold;
	background-color: #282835;
	color: #d8dee9;
	border-radius: 8px;
	padding: 8px;
	margin: 4px;
}

#scroll {
    	margin-top: 5px;
    	border-radius: 15px;
    	margin-bottom: 5px;
}

#text:selected {
	color: #cdd687;
	font-weight: bold;
	font-size: 15px;
}

#entry {
	padding: 8px 10px;
	margin: 2px 0px;
	border-radius: 6px;
}

#entry:selected {
	background-color: #5e81ac; 
	color: #ffffff;
	font-size: 20px;
}

#text {
	padding: 8px;
}
